.lots-link,
.footer-menu-links,
.footer-socials-links {
  text-decoration: none;
  
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  padding-top: 92px;
  padding-bottom: 92px;
    
}



.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
    
}

.logo {
  display: block;
  width: 148px;
  height: 105px;
    
}

.contacts {

  max-width: 240px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000;
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 5px;
  margin-top: 1px;
}

.contacts-address-street {
  margin-top: 1px;
  
}

.links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  list-style: circle;
  width: 392px;
  
}

.menu-item {
  font-size: 18px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.links-list-item-main {
  list-style: none;
  
}

.header-menu-link {
  text-decoration: underline;
  color: #000;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.5px;
  padding: 3.5px;
}

.link-main {
  text-decoration: none;
}

.img-logo {
  width: 148px;
  height: 105px;
  margin-left: 35px;
  margin-right: 185px;
}

.contacts-links {
  text-decoration: underline;
  color: #000;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.5px;
  
  
}

.cover {  
  background-image: url('../images/cover.jpg') ;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  padding-bottom: 49px;
  
}

.overlay {
  height: 100%;
  width: 100%;  
  background-color: #000; 
  opacity: 0.60;  
  position: absolute;
} 

.cover-title-word {
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  line-height: 114.99999999999999%;
  letter-spacing: 30px;
  display: flex;
  z-index: 2;
  
}

.cover-title-word-top {
  
  width: 286px;
  align-self: flex-start;
  
}

.cover-title-word-center {
  align-self: center;
  margin-left: 30px;
  
}

.cover-title-word-bottom {
  align-self: end;
  width: 387px;
    
}

.cover-title {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  gap: 22px;
  z-index: 2;
  
}

.description-cover {
  display: flex;
  justify-content: space-between;
  margin-top: 106px;
  margin-left: 50px;
  
}

.cover-subline {
  width: 645px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  margin: auto 0;
  word-spacing: 18.5px;
  display: flex;
  z-index: 2;
  
}

.cover-button {
  width: 256px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border: 1px solid currentColor ;
  margin-right: 50px;
  height: 51px;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 180px 24px 0 24px;
  gap: 30px;
}

.lots-title {
  padding-left: 40px;
  padding-top: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;  
  font-size: 40px;
  line-height: 100%;  
  text-transform: uppercase;

}

.lots-frams {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
    
}

.frams {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 334px;
  position: relative;
  gap: 33px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}



.lots-frame-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;  
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #fff;
  text-underline-offset: 3px;
  margin-top: 48px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  z-index: 2;
}



.frame-left {
  background-image: url(../images/card-lot-01.jpg); 
  
}

.frame-center {
  background-image: url(../images/card-lot-02.jpg);
  
}

.frame-right {
  background-image: url(../images/card-lot-03.jpg);
  
}

.lots-frame-description {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  margin: 0px 40px 48px 40px;
  display: flex;
  z-index: 2;

}

.lots-frame-left-description {
  margin-top: 240px;
}

.lots-more {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000;
  padding-left: 40px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 0.5px;
  padding-bottom: 1px;
  margin-top: 3px;
}

.about {
  margin: 120px 24px 0 24px;
  padding: 35px 0 0 47px;
  display: flex;
  justify-content: space-between;
  
}

.about-logo-colomn {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-logo-img {
  width: 148px;
  height: 114px;
  
}

.about-about-colomn {
  width: 693px;
  align-self: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 103px;
  gap: 77px;
}

.about-about-colomn-description {
  margin-top: 1px;
}

.about-about-colomn-description-p {

  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding-right: 5px;
  margin-top: 24px;
}

.about-about-colomn-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000;
  margin-top: 3px;
}


.footer { 
  margin-top: 181px;
  padding: 0 50px 81px 50px;
  display: flex;
  justify-content: space-between;
  
  
  
}

.footer-menu {
  width: 164px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  line-height: 21px;
  padding-left: 2px;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.3px;

}

.footer-menu-link-underlined {
  text-decoration: underline;
}

.footer-socials {
  width: 240px;
  display: flex;
  justify-content: space-between;

}

.footer__social-list-item {
  height: 48px;
  width: 48px;
  
}